<!DOCTYPE html>
<html lang='en'>
{% macro sentence_case(text) %}
{{ text[0]|upper}}{{text[1:] }}
{% endmacro %}
<head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <title>{% block title %}{% endblock %}</title>
    <script>
        let apiPrefix="{{ prefix }}";
    </script>
    <link href="{{ prefix }}/static/css/bootstrap.min.css" rel="stylesheet">
    {% block html_head %}{% endblock %}
</head>
<body>
    {% block body_start %}{% endblock %}
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        {% block footer %}{% endblock %}
    </div>
    {% block body_end %}{% endblock %}
    <script src="{{ prefix }}/static//js/jquery-3.5.1.slim.min.js"></script>
    <script src="{{ prefix }}/static/js/popper.min.js"></script>
    <script src="{{ prefix }}/static/js/bootstrap.min.js"></script>
    <script src="{{ prefix }}/static/js/main.js"></script>
</body>
</html>
