{% extends "base.html" %}
{% block title %}AI Feedback{% endblock %}
{% block html_head %}
{% endblock %}
{% block body_start %}
<ul class="card-header nav nav-tabs nav-justified flex-column flex-sm-row p-0">
    <li class="nav-item">
        <a class="nav-link {% if active == '' %} active {% endif %}" href="{{ prefix }}">Main</a>
    </li>
</ul>
<ul class="card-header nav nav-tabs nav-justified flex-column flex-sm-row mb-3 p-0">
    <li class="nav-item">
        <a class="nav-link {% if active == 'paraphrase' %} active {% endif %}" href="{{ prefix }}/paraphrase">Paraphrase Identification</a>
    </li>
<!--
    <li class="nav-item">
        <a class="nav-link {% if active == 'stance' %} active {% endif %}" href="{{ prefix }}/stance">Stance Detection</a>
    </li> -->
    <li class="nav-item">
        <a class="nav-link {% if active == 'sentiment' %} active {% endif %}" href="{{ prefix }}/sentiment">Sentiment Analysis</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'subjectivity' %} active {% endif %}" href="{{ prefix }}/subjectivity">Subjectivity Analysis</a>
    </li>
</ul>
{% endblock %}
{% block content %}
<div class="row row-cols-1 row-cols-md-2 align-content-center justify-content-center mt-3">
    {% if active == '' %}
    <div class="col-12 col-md-6 mb-3 justify-content-center text-center alert alert-info p-3" role="alert">
        <h2>Help us improve EUNOMIA AI services!</h2>
        <p>
            Your objective is to <span class="font-weight-bolder"> write some posts</span> that will belong to a certain category (based on your human judgement 😊) and in case the AI algorithm <span class="font-weight-bolder">gets it wrong</span>, you can provide us the correct category and edit the comment field (explainability above all !!!).
            This tool is, also, helpful to serve us a <span class="font-weight-bolder">bias auditor</span>. You are more than welcome to check whether the AI algorithms discriminate by gender, race, religion etc. For example, the text: <span class="font-italic">“Men are keen on sports”</span> is objective and positive, while the text: <span class="font-italic">“Women are keen on sports”</span> is subjective and negative.
            The results of this task are stored (of course they are anonymous 😉) and will be send to the creators of the AI models to decide whether they should be included as new data in the training set and retrain their algorithms.
        </p>
    </div>
    {% else %}
    <div class="col-12 col-md-4 justify-content-center alert-info p-3" role="alert">
        {% if active == 'paraphrase' %}
        <h3 class="text-center">Paraphrase Identification</h3>
        <p>
            Please write two posts that you believe are paraphrased or are not truly relevant with each to check our model’s output. The goal of the AI algorithm is to decide whether these two posts should be linked in the information cascade.
        </p>
        <p><u>Examples:</u></p>
        <ul class="list-unstyled">
            <li><em>Paraphrased (i.e., truly relevant):</em></li>
            <ul>
                <li>
                    <span class="font-weight-bolder">Text A:</span> “The decision whether the UK should stay or leave the EU was put to a vote. With a vote of 52% to 48%, the UK has decided to leave the EU.”
                </li>
                <li>
                    <span class="font-weight-bolder">Text B:</span> “There was a debate on whether the UK should remain or leave the EU. With a 52% to 48% vote, the UK decided to leave the EU.”
                </li>
            </ul>
            <li><em>Non-Paraphrased (i.e., irrelevant):</em></li>
            <ul>
                <li>
                    <span class="font-weight-bolder">Text A:</span> “The Brexit choice has had a huge unfriendly effect on the worldwide market.”
                </li>
                <li>
                    <span class="font-weight-bolder">Text B:</span> “Britain is excluded from discussions affecting its exit terms.”
                </li>
            </ul>
        </ul>
        {% elif active == 'stance' %}
        <h3 class="text-center">Stance Detection</h3>
        <p>
            Please write a post and then provide an answer for this post. The goal of the AI algorithm is to decide whether the second post supports, denies, comments or queries (e.g., asks for more information).
        </p>
        <p><u>Examples:</u></p>
        <ul class="list-unstyled">
            <li><em>Support:</em></li>
            <ul>
                <li>
                    <span class="font-weight-bolder">Post:</span> “The decision whether the UK should stay or leave the EU was put to a vote. With a vote of 52% to 48%, the UK has decided to leave the EU.”
                </li>
                <li>
                    <span class="font-weight-bolder">Answer:</span> “Indeed, British wish to leave EU.”
                </li>
            </ul>
            <li><em>Deny:</em></li>
            <ul>
                <li>
                    <span class="font-weight-bolder">Post:</span> “The decision whether the UK should stay or leave the EU was put to a vote. With a vote of 52% to 48%, the UK has decided to leave the EU.”
                </li>
                <li>
                    <span class="font-weight-bolder">Answer:</span> “No way, you are a troll”
                </li>
            </ul>
            <li><em>Comment:</em></li>
            <ul>
                <li>
                    <span class="font-weight-bolder">Post:</span> “The decision whether the UK should stay or leave the EU was put to a vote. With a vote of 52% to 48%, the UK has decided to leave the EU.”
                </li>
                <li>
                    <span class="font-weight-bolder">Answer:</span> “I think this is a poor decision.”
                </li>
            </ul>
            <li><em>Query:</em></li>
            <ul>
                <li>
                    <span class="font-weight-bolder">Post:</span> “The decision whether the UK should stay or leave the EU was put to a vote. With a vote of 52% to 48%, the UK has decided to leave the EU.”
                </li>
                <li>
                    <span class="font-weight-bolder">Answer:</span> “Is it final? ”
                </li>
            </ul>
        </ul>
        {% elif active == 'sentiment' %}
        <h3 class="text-center">Sentiment Analysis</h3>
        <p>
            Please write a post and check if the AI algorithm categorizes correctly into positive, neutral, or negative.
        </p>
        <p><u>Examples:</u></p>
        <ul>
            <li>
                <span class="font-weight-bolder">Positive:</span> EUNOMIA is a great project!
            </li>
            <li>
                <span class="font-weight-bolder">Neutral:</span> EUNOMIA is a H2020 IA project.
            </li>
            <li>
                <span class="font-weight-bolder">Negative:</span> EUNOMIA received a negative interim review ☹.
            </li>
        </ul>
        {% else %}
        <h3 class="text-center">Subjectivity Analysis</h3>
        <p>
            Please write a post and check if the AI algorithm categorizes correctly into subjective or objective.
        </p>
        <p><u>Examples:</u></p>
        <ul>
            <li>
                <span class="font-weight-bolder">Objective:</span> EUNOMIA is a H2020 IA project.
            </li>
            <li>
                <span class="font-weight-bolder">Subjective:</span> I was thrilled to hear about EUNOMIA project.
            </li>
        </ul>
        {% endif %}
        {% endif %}
    </div>
    {% if active != '' %}
    <div class="col-12 col-md-8 justify-content-center">
        <div class="col-12 col-md-6 card-header p-3">
            <div class="row mb-3 text-center p-3">
                <label for="action-type"></label><input hidden id="action-type" value="{{ active }}">
                <label for="{% if active == 'paraphrase' or active == 'stance' %}input-text-a{% else %}input-text{% endif %}">{% if active == 'paraphrase' %}Text A{% elif active == 'stance' %}Post{% else %}Text{% endif %}:</label>
                <textarea rows="4" id="{% if active == 'paraphrase' or active == 'stance' %}input-text-a{% else %}input-text{% endif %}" class="form-control"></textarea>
            </div>
            {% if active == 'paraphrase' or active == 'stance' %}
            <div class="row mb-3 text-center p-3">
                <label for="input-text-b">{% if active == 'paraphrase' %}Text B{% else %}Answer{% endif %}:</label>
                <textarea id="input-text-b" rows="4" class="form-control"></textarea>
            </div>
            {% endif %}
            <div class="row mb-3 justify-content-end p-3">
                <input class="btn btn-primary" disabled id="check-input-button" title="Check" value="Check" type="button" />
            </div>
            <div class="row mb-3 input-group flex-nowrap p-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="result-label">Result:</span>
                </div>
                <input type="text" id="result-value" style="width: 100%" disabled aria-label="Result" aria-describedby="result-label">
            </div>
            <div class="row mb-3 input-group flex-nowrap p-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <span class="pr-3" id="result-check">Disagree</span>
                        <input type="checkbox" id="correct-result" disabled aria-label="Is the result correct or not?" aria-describedby="result-check">
                    </div>
                </div>
                <select class="custom-select" id="select-correct-value" disabled aria-label="Select the correct result">
                    <option disabled selected>Your suggestion...</option>
                    {% for option in options %}
                    <option value="{{ option }}">{{ sentence_case(option) }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row mb-3 text-center p-3">
                <textarea type="text" id="suggestion-comment" rows="4" class="form-control" placeholder="An optional comment" disabled aria-label="Comment"></textarea>
            </div>
            <div class="row mb-3 justify-content-end p-3">
                <input class="btn btn-primary" disabled title="Correct" id="submit-feedback" value="Submit" type="button" />
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
